@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    @model IQueryable<Movie>

   <h4>Welcome to CinemaBookingSystem</h4>
    @foreach (var p in Model ?? Enumerable.Empty<Movie>())
    {
        <div>
        <h3>@p.Title</h3>
        @p.Description
        <h4>@p.TicketPrice.ToString("c")</h4>
        </div>
    }
}
