@model CinemaBookingSystem.Models.ViewModels.MovieListViewModel

@{
	<h4>Welcome to CinemaBookingSystem</h4>  
}

@{
	Layout = "_Layout";
}

@foreach(var m in Model.Movies)
{
	<div>
		<h3>@m.Title</h3>
		<p>Ціна: @m.TicketPrice.ToString("C")</p>
	</div>
}
<div class="btn-group pull-right m-1">
	@for(int i = 1; i <= Model.PagingInfo.TotalPages; i++)
	{
		<a asp-action="Index" asp-route-productPage="@i"
		class="btn-outline-primary @(i == Model.PagingInfo.CurrentPage ? "active" : "")">
			@i
		</a>
	}

</div>
